@mixin text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin display-flex($direction: row, $xaxis: center, $yaxis: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $xaxis;
    align-items: $yaxis;
}
