// 主题色
$theme-color: #fa6650;
// 默认文字颜色
$text-color: #404040;
// 文字淡一点的颜色
$text-light-color: #979797;
// 激活颜色
$active-color: #fa6650;
// 非激活颜色
$inactive-color: #d3d3d3;
// 分隔线颜色
$splitline-color: #d3d3d3;
// 阴影区域颜色
$shadow-color: #dbdbdb;
// 浅阴影
$lite-shadow-color: #efefef;

$text-small-size: 24rpx;
$text-medium-size: 28rpx;
$text-large-size: 34rpx;
$text-x-large-size: 40rpx;
$text-xx-large-size: 48rpx;
$text-xxx-large-size: 56rpx;
$text-xxxx-large-size: 64rpx;
